In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./household_power_consumption.txt', sep=';')

/home/thtiiz/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.dtypes

Date                      object
Time                      object
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
dtype: object

In [4]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0,240.43,4,0,0,0.0
2075255,26/11/2010,20:59:00,0.944,0,240,4,0,0,0.0
2075256,26/11/2010,21:00:00,0.938,0,239.82,3.8,0,0,0.0
2075257,26/11/2010,21:01:00,0.934,0,239.7,3.8,0,0,0.0
2075258,26/11/2010,21:02:00,0.932,0,239.55,3.8,0,0,0.0

In [5]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [6]:
for col in df.columns:
    bools = pd.isnull(df[col])
    print(f'------------{col}-------------')
    print(df[bools], '\n')

------------Date-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Time-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Global_active_power-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Global_reactive_power-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Voltage-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Global_intensity-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Sub_metering_1-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Sub_metering_2-------------
Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

------------Sub_metering_3-------------
               Date      Time Global_active_power Global_reactive_power  \
6839     21/12/2006  11:23:00                   ?                     ?
6840     21/12/2006  11:24:00                   ?                     ?
19724    30/12/2006  10:08:00                   ?                     ?
19725    30/12/2006  10:09:00                   ?                     ?
41832     14/1/2007  18:36:00                   ?                     ?
...             ...       ...                 ...                   ...
1990185   28/9/2010  19:09:00                   ?                     ?
1990186   28/9/2010  19:10:00                   ?                     ?
1990187   28/9/2010  19:11:00                   ?                     ?
1990188   28/9/2010  19:12:00                   ?                     ?
2027411  24/10/2010  15:35:00                   ?                     ?

        Voltage Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
6839          ?                ?              ?              ?             NaN
6840          ?                ?              ?              ?             NaN
19724         ?                ?              ?              ?             NaN
19725         ?                ?              ?              ?             NaN
41832         ?                ?              ?              ?             NaN
...         ...              ...            ...            ...             ...
1990185       ?                ?              ?              ?             NaN
1990186       ?                ?              ?              ?             NaN
1990187       ?                ?              ?              ?             NaN
1990188       ?                ?              ?              ?             NaN
2027411       ?                ?              ?              ?             NaN

[25979 rows x 9 columns]

In [7]:
df = df.dropna()

In [8]:
df.loc[df['Sub_metering_2'] == '?']

Empty DataFrame
Columns: [Date, Time, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

In [9]:
df.dtypes

Date                      object
Time                      object
Global_active_power       object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
dtype: object

In [10]:
to_numeric_list = ['Global_active_power', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

for col in to_numeric_list:
    df[col] = pd.to_numeric(df[col])

<ipython-input-10-a0c15abf2a73>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col])

In [11]:
df['Active_energy'] = df.apply(lambda row: row['Global_active_power']*1000/60 - row['Sub_metering_1'] - row['Sub_metering_2'] - row['Sub_metering_3'], axis=1)

<ipython-input-11-08dd46ef2204>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Active_energy'] = df.apply(lambda row: row['Global_active_power']*1000/60 - row['Sub_metering_1'] - row['Sub_metering_2'] - row['Sub_metering_3'], axis=1)

In [12]:
df['datetime'] = df['Date'] + ' ' + df['Time']

<ipython-input-12-145aba5aead7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = df['Date'] + ' ' + df['Time']

In [13]:
df = df.drop(columns = ['Date', 'Time'])

In [14]:
df.head

<bound method NDFrame.head of          Global_active_power Global_reactive_power  Voltage Global_intensity  \
0                      4.216                 0.418  234.840           18.400
1                      5.360                 0.436  233.630           23.000
2                      5.374                 0.498  233.290           23.000
3                      5.388                 0.502  233.740           23.000
4                      3.666                 0.528  235.680           15.800
...                      ...                   ...      ...              ...
2075254                0.946                     0   240.43                4
2075255                0.944                     0      240                4
2075256                0.938                     0   239.82              3.8
2075257                0.934                     0    239.7              3.8
2075258                0.932                     0   239.55              3.8

         Sub_metering_1  Sub_metering_2  Sub_metering_3  Active_energy  \
0                   0.0             1.0            17.0      52.266667
1                   0.0             1.0            16.0      72.333333
2                   0.0             2.0            17.0      70.566667
3                   0.0             1.0            17.0      71.800000
4                   0.0             1.0            17.0      43.100000
...                 ...             ...             ...            ...
2075254             0.0             0.0             0.0      15.766667
2075255             0.0             0.0             0.0      15.733333
2075256             0.0             0.0             0.0      15.633333
2075257             0.0             0.0             0.0      15.566667
2075258             0.0             0.0             0.0      15.533333

                    datetime
0        16/12/2006 17:24:00
1        16/12/2006 17:25:00
2        16/12/2006 17:26:00
3        16/12/2006 17:27:00
4        16/12/2006 17:28:00
...                      ...
2075254  26/11/2010 20:58:00
2075255  26/11/2010 20:59:00
2075256  26/11/2010 21:00:00
2075257  26/11/2010 21:01:00
2075258  26/11/2010 21:02:00

[2049280 rows x 9 columns]>

In [15]:
df.dtypes

Global_active_power      float64
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
Active_energy            float64
datetime                  object
dtype: object

In [16]:
df = df.rename(columns={
    'Global_active_power': 'global:active_power',
    'Global_reactive_power': 'global:reactive_power',
    'Global_intensity': 'global:intensity',
    'Voltage': 'energy:voltage',
    'Sub_metering_1': 'energy:sub_1',
    'Sub_metering_2': 'energy:sub_2',
    'Sub_metering_3': 'energy:sub_3',
    'Active_energy': 'energy:active'
})

In [17]:
new_index = [
    'datetime', 'global:active_power', 'global:reactive_power', 'global:intensity',
    'energy:voltage', 'energy:sub_1', 'energy:sub_2', 'energy:sub_3', 'energy:active'
            ]

df = df.reindex(columns=new_index)

In [18]:
df.dtypes

datetime                  object
global:active_power      float64
global:reactive_power     object
global:intensity          object
energy:voltage            object
energy:sub_1             float64
energy:sub_2             float64
energy:sub_3             float64
energy:active            float64
dtype: object

In [19]:
df.to_csv('household_cleaned.csv', index=False)

In [20]:
# create 'household_test', 'datetime', 'global', 'energy'
# scp household_cleaned.csv hadoop@10.3.133.187:~/workshop
# hdfs dfs -put household_cleaned.csv /workshop/household_cleaned.csv
# sudo /home/hadoop/hbase/bin/hbase org.apache.hadoop.hbase.mapreduce.ImportTsv -Dimporttsv.separator=, -Dimporttsv.columns="HBASE_ROW_KEY,global:active_power,global:reactive_power,global:intensity,energy:voltage,energy:sub_1,energy:sub_2,energy:sub_3,energy:active" household hdfs://localhost:9000/workshop/household_cleaned.csv
# get 'household', '16/12/200617:27:00', 'global:active_power'
# get 'household', '16/12/200617:27:00', {COLUMN => ['energy:active', 'global:intensity']}

In [21]:
#   hbase> get 'ns1:t1', 'r1'
#   hbase> get 't1', 'r1'
#   hbase> get 't1', 'r1', {TIMERANGE => [ts1, ts2]}
#   hbase> get 't1', 'r1', {COLUMN => 'c1'}
#   hbase> get 't1', 'r1', {COLUMN => ['c1', 'c2', 'c3']}
#   hbase> get 't1', 'r1', {COLUMN => 'c1', TIMESTAMP => ts1}
#   hbase> get 't1', 'r1', {COLUMN => 'c1', TIMERANGE => [ts1, ts2], VERSIONS => 4}
#   hbase> get 't1', 'r1', {COLUMN => 'c1', TIMESTAMP => ts1, VERSIONS => 4}
#   hbase> get 't1', 'r1', {FILTER => "ValueFilter(=, 'binary:abc')"}
#   hbase> get 't1', 'r1', 'c1'
#   hbase> get 't1', 'r1', 'c1', 'c2'
#   hbase> get 't1', 'r1', ['c1', 'c2']
#   hbase> get 't1', 'r1', {COLUMN => 'c1', ATTRIBUTES => {'mykey'=>'myvalue'}}
#   hbase> get 't1', 'r1', {COLUMN => 'c1', AUTHORIZATIONS => ['PRIVATE','SECRET']}
#   hbase> get 't1', 'r1', {CONSISTENCY => 'TIMELINE'}
#   hbase> get 't1', 'r1', {CONSISTENCY => 'TIMELINE', REGION_REPLICA_ID => 1}